{% extends 'base.html' %}

{% block title %}
  Job listings
{% endblock %}

{% block content %}
  <div class="m-5">
    <a class="btn btn-outline-dark my-2" href="{% url 'create-job' %}">Create a new Job</a>
    <h2>Job Listings</h2>

    {% if not page_obj %}
      NO JOB YET.
    {% else %}
      {% for job in page_obj %}
        <li>
          <a href="{% url 'update-job' job.id %}">{{ job.title }}</a> -
          <a href="{% url 'delete-job' job.id %}">Delete</a>
        </li>
      {% endfor %}

      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  </div>
{% endblock %}
